button{
  font-size: 100px;
  background-color: blue;
  width: 400px;
  height: 100px;
  border-radius: 20px;
  padding: 5px;


}

button:hover{
  background-color: red;
}


.finance{
  width: 710px;
  white-space: nowrap;
  height: 120px;
  background-color: black;
  border: 2px solid gold;
  color: white;
}

.finance:hover {
  font-size: 0;
  background-color: green;
  color: white

}

.finance:hover::after{
  content:  "💵";
  font-size: 70px;
}


form {
  display: flex;
  flex-direction: column;
}


/*welcome screen*/

#dashboard {
  display: none;
}

#welcomeScreen  {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/*animation for the welcome screen*/

#welcomeMessage {
  opacity: 0;

}

.welcomeAnimation {
  animation: welcomeFade 2s ease-in forwards;
}

@keyframes welcomeFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  margin: 0;
}